In [1]:
import yfinance as yf

In [4]:
ticker = "BBAS3"
period = "5d"
ticker_obj = yf.Ticker(f"{ticker}.SA")

In [5]:
ticker_obj

yfinance.Ticker object <BBAS3.SA>

In [6]:
ticker_obj.history(period=period)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-07-15 00:00:00-03:00,20.750000,21.059999,20.709999,20.900000,30999200,0.0,0.0
2025-07-16 00:00:00-03:00,20.990000,20.990000,20.170000,20.879999,55147900,0.0,0.0
2025-07-17 00:00:00-03:00,20.840000,20.900000,20.580000,20.740000,28673400,0.0,0.0
2025-07-18 00:00:00-03:00,20.600000,20.820000,20.200001,20.260000,42591900,0.0,0.0
2025-07-21 00:00:00-03:00,20.360001,20.410000,19.860001,19.860001,42143000,0.0,0.0

In [14]:
def return_price(ticker, period="1mo"):
    ticker_obj = yf.Ticker(f"{ticker}.SA")
    hist = ticker_obj.history(period=period)["Close"]
    hist.index = hist.index.strftime("%Y-%m-%d")
    hist = round(hist, 2)

    if len(hist) > 30:
        slice_size = int(len(hist) / 30)
        hist = hist.iloc[::-slice_size][::-1]

    return hist.to_json()

In [15]:
return_price("BBDC4", "1y")

'{"2024-07-22":11.52,"2024-08-01":11.48,"2024-08-13":13.59,"2024-08-23":14.3,"2024-09-04":14.51,"2024-09-16":14.11,"2024-09-26":13.54,"2024-10-08":14.12,"2024-10-18":14.22,"2024-10-30":13.95,"2024-11-11":12.51,"2024-11-25":12.64,"2024-12-05":11.74,"2024-12-17":11.16,"2025-01-02":10.89,"2025-01-14":10.93,"2025-01-24":10.81,"2025-02-05":11.79,"2025-02-17":11.7,"2025-02-27":10.99,"2025-03-13":11.18,"2025-03-25":12.34,"2025-04-04":12.3,"2025-04-16":12.45,"2025-04-30":13.44,"2025-05-13":14.92,"2025-05-23":15.33,"2025-06-04":16.14,"2025-06-16":16.33,"2025-06-27":16.26,"2025-07-09":16.36,"2025-07-21":15.68}'